# Ignorar dependencias
node_modules/
bin/
obj/

# Ignorar archivos de configuración local y secretos
.env
*.sec

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar bitácoras o logs
*.log